.general{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
.bod{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 40px;
    background: #FDFFFC;
    

}
.contenedor {
background: #f1f5f9;
width: 1200px;
max-width: 1200px;
padding: 25px 40px 10px 40px;
box-shadow: 0px 0px 10px rgba(0, 0,0, 0,0.1);
}

.contenedor .text{
    font-weight: 600;
    font-size: 35px;
    align-items: center;
    color:  #56a3a6;

}
.contenedor form{
    padding: 30px 0 0 0 0;
}
.contenedor form .formrow{
    display: flex;
    margin: 70px 0px;
  
}
form .formrow .inputdata{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;  
}
.inputdata input{
    display: block;
    height: 100%;
    width: 100%;
    border: none ;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    background: #f1f5f9;
}
.inputdata input:focus ~label{
    transform: translateY(-10px);
    color: #c20101;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;

}


.inputdata input:valid ~label{
    transform: translateY(-10px);
    color: #01c228;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;

}

.inputdata select:valid {
    color: #01c228;
    font-size: 16px;
    transition: all 0.3s ease;
}

.inputdata .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
   
}
.inputdata .underline::before,.inputdata .underline::after{
 position: absolute;
 content:"";
 height: 100%;
 width: 100%;
 background: #3498db;
 transform: scaleX(0);
 transform-origin: center;
 transition: transform 0.3s ease;
}
.inputdata input:focus ~.underline::before,.underline_:after,   .inputdata select:focus ~.underline::before,.underline_::after{
transform: scaleX(1);

}


.inputdata label{
    position: absolute;
    bottom: 28px;
    font-size: 16px;
    pointer-events: none;
    color: #305a5c;
    font-weight: bold;
    
}
.select {
    display: block;
    height: 100%;
    width: 100%;
    border: none ;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    background: #f1f5f9;
    color: #305a5c;
    font-weight: bold;

 
}

.divBoton {
    width: 100%;
    height: 85px;
   
}
.Boton {
    width: 160px;
    height: 65px;
    background: #f70707;
    border: 1px solid #ABABAB;
    border-radius: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FDFFFC;
    margin-right: auto;
   
}
.Boton:hover{
    background-color: rgb(208, 3, 3);
}
.Boton:active{
    background-color: rgb(135, 0, 0);
}

@media (max-width:700px) {
    .contenedor .text{
        font-size: 30px;
    }
    .contenedor form .formrow{
        display: block;
    }
    form .formrow .inputdata{
        margin: 35px 0;
    }
}