.general {
    width: 448px;
    height: 720px;
    left: 0px;
    top: 0px;
    flex-wrap: wrap;
    background-color: #FDFFFC;
}

.main {
    background-color: #FDFFFC;
}

.imm {
    position: absolute;
    width: 448px;
    height: 600px;
    left: 30px;
    top: 118px;
    border-radius: 20px;

}

.buton {
    position: absolute;
    width: 294px;
    height: 57px;
    left: 1079px;
    top: 660px;

}

.rectanglev {

    box-sizing: border-box;

    position: absolute;
    width: 294px;
    height: 57px;
    left: 0px;
    top: 00px;

    background: #56A3A6;
    border: 1px solid #ABABAB;
    border-radius: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #FDFFFC;
    min-width: 300px;
}

.rectanglev:hover {
    background-color: #03816e;
}

.rectanglev:active {
    background-color: #031926;
}

.tit {
    position: absolute;
    width: 117px;
    height: 29px;
    left: 528px;
    top: 118px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FF101F;

}


.text1 {
    position: absolute;
    width: 45px;
    height: 19px;
    left: 617px;
    top: 341px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.input1 {
    box-sizing: border-box;

    position: absolute;
    width: 754px;
    height: 43px;
    left: 617px;
    top: 366px;
    background: rgba(255, 255, 255, 0.2);

    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
}

.text2 {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 617px;
    top: 430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.input2 {
    box-sizing: border-box;

    position: absolute;
    width: 754px;
    height: 45px;
    left: 617px;
    top: 452px;

    background: rgba(255, 255, 255, 0.2);

    border: 1px solid #000000;
    border-radius: 10px;
}

.text3 {
    position: absolute;
    width: 172px;
    height: 19px;
    left: 617px;
    top: 515px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.input3 {
    box-sizing: border-box;

    position: absolute;
    width: 754px;
    height: 43px;
    left: 617px;
    top: 538px;

    background: rgba(255, 255, 255, 0.2);
    opacity: .7;
    border: 1px solid #000000;
    border-radius: 10px;
}

.text4 {
    position: absolute;
    width: 160px;
    height: 16px;
    left: 617px;
    top: 585px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #2400FF;
}

.rescat {
    position: absolute;
    width: 217px;
    height: 290px;
    left: 617px;
    top: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}




.select1 {
    position: absolute;

    width: 750px;
    height: 43px;
    left: 617px;
    top: 265px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: rgba(255, 255, 255, 0.2);

    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
}